---
interface Props {
  title: string;
  description?: string;
  showHeader?: boolean;
  headerType?: 'home' | 'posts' | 'page';
}

const { title, description = '', showHeader = true, headerType = 'page' } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="canonical" href={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:site_name" content="Nathan Braun" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <title>{title}</title>
    <script defer src="/stats/script.js" data-website-id="021f5c91-7fe6-4b83-ba0b-c09ecef2319b"></script>
  </head>
  <body>
    <main class="bg-gray-100 font-sans text-lg flex justify-center h-full min-h-screen text-gray-700">
      <div class="md:mt-8 max-w-3xl flex-col w-full px-3 md:px-0">
        {headerType === 'home' ? null : headerType === 'posts' ? (
          <div class="ml-3 md:ml-0 mt-4 mb-6">
            <a href="/" class="w-auto text-blue-600">&larr; Home</a>
            <span> | </span>
            <a href="/feed.xml" class="w-auto text-blue-600">RSS</a>
          </div>
        ) : (
          <div class="ml-3 md:ml-0 mt-4 mb-6">
            <a href="/" class="w-auto text-blue-600">&larr; Home</a>
            <span> | </span>
            <a href="/posts" class="w-auto text-blue-600">Posts</a>
          </div>
        )}
        <slot />
      </div>
    </main>
  </body>
</html>

<style is:global>
  @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700|Roboto:100,300,400,500');
</style>
